@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

h1 {
  color: #444;
}

body{
    background-color: #414249;
}

.mainTitle {
    max-width: 100%;
    height: center;
    text-align: center;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    position: fixed;
    bottom: 50%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: white;
    background-color: white;
    display: inline-block;
    background: transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    position: relative;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn.block {
    display: block !important;
}
.btn.circular {
    border-radius: 1.5em !important;
    border:white solid 2px;
}

.bt1{
    position: fixed;
    bottom: 5%;

    min-width: 10%;
    max-width: 420px;

    font-size: 2.5vmin;
}

.bt2{
    position: fixed;
    bottom: 5%;

    min-width: 10%;
    max-width: 300px;

    font-size: 2.5vmin;

    margin-bottom: 15vmin;
    margin-top: auto;
}

/* Colours */
.red {
    background-color: #d55050;
}
.teal {
    background-color: #50d5a1;
}
.sky {
    background-color: #6698cb;
}
.black {
    background-color: #5c6166;
}
.gray {
    color: black;
    background-color: #d2d2d2;
}
.orange {
    background-color: #e96633;
}
.pink {
    background-color: #cb99c5;
}
.green {
    background-color: #5bbd72;
}
.blue {
    background-color: #7abedf;
}
.yellow {
    background-color: #ecc92b;
}
.purple {
    background-color: #564f8a;
}